@model AnalyticsViewModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6 col-lg-7 col-12">
        <div class="info mt-4">
            <header class="text-black-alternative">
                <h2 class="fw-bolder display-2 mb-4">
                    Your body can
                    <span class="text-primary-color">stand almost</span> anything
                </h2>

                <p class="mb-6">
                    It's your mind that needs convincing. Push past your limits,
                    stay <br />
                    committed, and watch as your body transform into powerhouse of
                    <br />
                    strength and resilience. Start your journey today & truly
                    capable of!
                </p>
            </header>

            <div class="stats-bar">
                <div class="row g-0">
                    <div class="col-4">
                        <div class="stat">
                            <span class="fw-bolder fs-5 d-block mb-1">@Model.TotalMembers</span>
                            <h3 class="fs-5 fw-normal">Total Members</h3>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="stat">
                            <span class="fw-bolder fs-5 d-block mb-1">@Model.ActiveMembers</span>
                            <h3 class="fs-5 fw-normal">Active Members</h3>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="stat">
                            <span class="fw-bolder fs-5 d-block mb-1">@Model.TotalTrainers</span>
                            <h3 class="fs-5 fw-normal">Trainers</h3>
                        </div>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-4">
                        <div class="stat">
                            <span class="fw-bolder fs-5 d-block mb-1">@Model.UpcomingSessions</span>
                            <h3 class="fs-5 fw-normal">Upcoming Sessions</h3>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="stat">
                            <span class="fw-bolder fs-5 d-block mb-1">@Model.OngoingSessions</span>
                            <h3 class="fs-5 fw-normal">Ongoing Sessions</h3>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="stat">
                            <span class="fw-bolder fs-5 d-block mb-1">@Model.CompletedSessions</span>
                            <h3 class="fs-5 fw-normal">Completed Sessions</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="buttons my-4">
                <button class="get-started bg-primary-color text-white btn rounded-5 fw-medium px-3 py-2 me-5 border-2 border-primary-color">
                    Get Started
                </button>

                <button class="explore-more border-primary-color btn rounded-5 fw-medium px-3 py-2 border-2 text-primary-color fw-medium">
                    Explore More
                </button>
            </div>
        </div>
    </div>

    <div class="col-md-1 offset-md-2 col-12 order-first order-md-last">
        <div class="character d-md-block d-flex justify-content-center">
            <img src="~/images/Theo Vance.jpg" alt="Theo Vance" />
        </div>
    </div>
</div>

<div class="bar bg-primary-color d-flex py-4 text-white fw-bolder align-items-center">
    <p class="py-0 my-0 overflow-hidden text-nowrap">
        outdoor & online trainers
        <img src="~/images/star.svg" alt="star icon" /> personal training
        <img src="~/images/star.svg" alt="star icon" /> live classes
        <img src="~/images/star.svg" alt="star icon" /> personal trainers
        <img src="~/images/star.svg" alt="star icon" /> personal training
    </p>
</div>

<!-- ^ all other section -->
<main>
    <!-- ^ about section -->
    <section class="about my-5 text-black-alternative">
        <div class="container">
            <div class="row g-5 justify-content-center">
                <div class="col-12 col-lg-6 w-50 w-md-100">
                    <div class="characters position-relative">
                        <div class="image">
                            <img class="" src="~/images/about p1.jpg" alt="person" />
                        </div>

                        <div class="image position-absolute d-none d-lg-block">
                            <img src="~/images/about p2.jpg" alt="person" />
                        </div>

                        <div class="image position-absolute d-none d-lg-block">
                            <img src="~/images/about p3.jpg" alt="person" />
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="title d-flex justify-content-start align-items-start gap-2">
                        <img class="" src="~/images/dumbbell.jpg" alt="dumbbell icon" />
                        <h2 class="text-primary-color fs-5">About Us</h2>
                    </div>

                    <header>
                        <p class="fw-bolder display-6 mb-4">
                            EMPOWERING YOU TO ACHIEVE
                            <span class="text-primary-color">YOUR FITNESS</span> GOALS
                        </p>
                        <p class="text">
                            We believe fitness is more than just a workout—it's a
                            lifestyle. With top-of- the-line facilities, certified
                            trainers, and a supportive community, we're here to inspire
                            and guide you every step of the way.
                        </p>
                    </header>

                    <div class="features">
                        <div class="row row-cols-1 row-cols-sm-2 gx-3 gy-5">
                            <div class="feature">
                                <div class="inner">
                                    <div class="title d-flex gap-2">
                                        <img src="~/images/feature icon.jpg" alt="icon" />
                                        <h3 class="fw-bold">Personal Trainer</h3>
                                    </div>
                                    <div class="info">
                                        <p>Achieve your fitness goals with the</p>
                                        <p>guidance of our certified trainers.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="feature">
                                <div class="inner">
                                    <div class="title d-flex gap-2">
                                        <img src="~/images/feature icon.jpg" alt="icon" />
                                        <h3 class="fw-bold">Personal Trainer</h3>
                                    </div>
                                    <div class="info">
                                        <p>Achieve your fitness goals with the</p>
                                        <p>guidance of our certified trainers.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="feature">
                                <div class="inner">
                                    <div class="title d-flex gap-2">
                                        <img src="~/images/feature icon.jpg" alt="icon" />
                                        <h3 class="fw-bold">Personal Trainer</h3>
                                    </div>
                                    <div class="info">
                                        <p>Achieve your fitness goals with the</p>
                                        <p>guidance of our certified trainers.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="feature">
                                <div class="inner">
                                    <div class="title d-flex gap-2">
                                        <img src="~/images/feature icon.jpg" alt="icon" />
                                        <h3 class="fw-bold">Personal Trainer</h3>
                                    </div>
                                    <div class="info">
                                        <p>Achieve your fitness goals with the</p>
                                        <p>guidance of our certified trainers.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn bg-primary-color rounded-pill text-white fw-medium px-4 py-2 mt-3">
                            Get Started
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ^ workout section -->
    <section class="workout">
        <div class="container">
            <div class="title">
                <h2>WORKOUTS</h2>
                <p class="text-white fw-bolder fs-2 mb-4">
                    Transform Your Body with Our Dynamic Upcoming Workouts
                </p>
            </div>

            <div class="row row-cols-md-3 row-cols-12 gy-4 gx-2 gx-md-4">
                <div>
                    <div class="card">
                        <img src="~/images/workout 1.jpg"
                             class="card-img-top"
                             alt="..." />

                        <footer class="card-footer bg-white">
                            <h5 class="card-title text-black-alternative text-uppercase fw-bolder">
                                group workout
                            </h5>
                            <a href="#" class="">Explore</a>
                        </footer>
                    </div>
                </div>

                <div>
                    <div class="card">
                        <img src="~/images/workout 2.jpg"
                             class="card-img-top"
                             alt="..." />

                        <footer class="card-footer bg-white">
                            <h5 class="card-title text-black-alternative text-uppercase fw-bolder">
                                group workout
                            </h5>
                            <a href="#" class="">Explore</a>
                        </footer>
                    </div>
                </div>

                <div>
                    <div class="card">
                        <img src="~/images/workout 3.jpg"
                             class="card-img-top"
                             alt="..." />

                        <footer class="card-footer bg-white">
                            <h5 class="card-title text-black-alternative text-uppercase fw-bolder">
                                group workout
                            </h5>
                            <a href="#" class="">Explore</a>
                        </footer>
                    </div>
                </div>
            </div>

            <div class="indicators">
                <div class="indicator"></div>
                <div class="indicator active"></div>
                <div class="indicator"></div>
                <div class="indicator"></div>
            </div>
        </div>
    </section>

    <!-- ^ why-us section -->
    <section class="why-us my-5">
        <div class="container">
            <div class="row row-cols-1 row-cols-lg-2">
                <div class="info">
                    <div>
                        <div class="title d-flex justify-content-start align-items-start gap-2">
                            <img class=""
                                 src="~/images/dumbbell.jpg"
                                 alt="dumbbell icon" />
                            <h2 class="text-primary-color fs-5">Why Us</h2>
                        </div>

                        <header>
                            <p class="fw-bolder display-5 mb-4">
                                Elevate fitness with<br />
                                <span class="text-primary-color">the best</span> way
                                possible
                            </p>
                            <p class="text">
                                We believe fitness is more than just a workout—it's a
                                lifestyle. With top-of- the-line facilities, certified
                                trainers, and a supportive community, we're here to inspire
                                and guide you every step of the way.
                            </p>
                        </header>

                        <ul class="featutes list-unstyled mt-6">
                            <li class="feature d-flex gap-4 align-items-center mb-4">
                                <div class="count">01</div>

                                <div class="text">
                                    <h3 class="text-capitalize fw-bold">
                                        personalized fitness plans
                                    </h3>
                                    <p class="fs-18">
                                        We tailor every workout to fit your unique goals and
                                        fitness level ensuring that you make the most progress.
                                    </p>
                                </div>
                            </li>

                            <li class="feature d-flex gap-4 align-items-center mb-4">
                                <div class="count">01</div>

                                <div class="text">
                                    <h3 class="text-capitalize fw-bold">
                                        personalized fitness plans
                                    </h3>
                                    <p class="fs-18">
                                        We tailor every workout to fit your unique goals and
                                        fitness level ensuring that you make the most progress.
                                    </p>
                                </div>
                            </li>

                            <li class="feature d-flex gap-4 align-items-center">
                                <div class="count">01</div>

                                <div class="text">
                                    <h3 class="text-capitalize fw-bold">
                                        personalized fitness plans
                                    </h3>
                                    <p class="fs-18">
                                        We tailor every workout to fit your unique goals and
                                        fitness level ensuring that you make the most progress.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="characters d-none d-lg-block">
                    <div class="images">
                        <img class=""
                             src="~/images/why us images.svg"
                             alt="characters" />
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer class="mt-5">
    <div class="bar bg-primary-color d-flex py-4 text-white fw-bolder align-items-center">
        <p class="py-0 my-0 overflow-hidden text-nowrap">
            outdoor & online trainers
            <img src="~/images/star.svg" alt="star icon" /> personal training
            <img src="~/images/star.svg" alt="star icon" /> live classes
            <img src="~/images/star.svg" alt="star icon" /> personal trainers
            <img src="~/images/star.svg" alt="star icon" /> personal training
        </p>
    </div>

    <div class="footer-content my-5">
        <div class="container">
            <div class="row row-cols-2 row-cols-md-4 g-5">
                <div class="logo">
                    <div class="inner">
                        <div class="image">
                            <img src="~/images/logo.jpg" alt="our logo" />
                        </div>
                        <p class="fs-18 mt-2">
                            Push harder, go further. Your <br />
                            fitness journey starts today!
                        </p>
                    </div>
                </div>

                <div class="contact">
                    <h4 class="fw-bolder text-uppercase mb-4">contact us</h4>

                    <ul>
                        <li class="d-flex align-items-center gap-2">
                            <div class="icon">
                                <img src="~/images/phone icon.jpg" alt="phone icon" />
                            </div>
                            <p>+91 123 456 789</p>
                        </li>

                        <li class="d-flex align-items-center gap-2">
                            <div class="icon">
                                <img src="~/images/message icon.jpg" alt="message icon" />
                            </div>
                            <p>info@gmail.com</p>
                        </li>
                    </ul>
                </div>

                <div class="time">
                    <h4 class="fw-bolder text-uppercase mb-4">our gym timing</h4>

                    <p>
                        Mon - Fri : 08:00 AM - 10:00 PM <br />Sat - Sun : 08:00 AM -
                        09:00 PM
                    </p>
                </div>

                <div class="location">
                    <h4 class="fw-bolder text-uppercase mb-4">our location</h4>

                    <p>
                        2715 Ash Dr. San Jose, South <br />
                        Dakota 83475
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>