﻿@{
var currentController = ViewContext.RouteData.Values["Controller"]?.ToString();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <title>Power fitness | @ViewData["Title"] </title>
</head>
<body>
    <header>
        <!-- ^ navbar -->
        <nav class="navbar navbar-expand-lg bg-white my-3">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img src="~/images/logo.jpg" alt="" />
                </a>
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto mb-2 mb-lg-0 mt-3 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link px-3 py-2 mx-2 fw-bolder fs-5 @(currentController == "Home" ? "active" : "text-black-alternative")"
                               asp-action="Index" asp-controller="Home">Home</a>
                        </li>
                        @if (User.IsInRole("SuperAdmin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link px-3 py-2 mx-2 fw-bolder fs-5 @(currentController == "Member" ? "active" : "text-black-alternative")"
                                   asp-action="Index" asp-controller="Member">Members</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-3 py-2 mx-2 fw-bolder fs-5 @(currentController == "Trainer" ? "active" : "text-black-alternative")"
                                   asp-action="Index" asp-controller="Trainer">Trainers</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link px-3 py-2 mx-2 fw-bolder fs-5 @(currentController == "Session" ? "active" : "text-black-alternative")"
                               asp-action="Index" asp-controller="Session">Session</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-3 py-2 mx-2 fw-bolder fs-5 @(currentController == "Plan" ? "active" : "text-black-alternative")"
                               asp-action="Index" asp-controller="Plan">Plans</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-3 py-2 mx-2 fw-bolder fs-5 @(currentController == "Membership" ? "active" : "text-black-alternative")"
                               asp-action="Index" asp-controller="MemberShip">MemberShips</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-3 py-2 mx-2 fw-bolder fs-5 @(currentController == "Booking" ? "active" : "text-black-alternative")"
                               asp-action="Index" asp-controller="Booking">Sessions Schedule</a>
                        </li>
                        <li class="nav-item">
                            <form asp-action="Logout" asp-controller="Account" method="post" class="d-inline">
                                <button type="submit" class="btn btn-link nav-link px-3 py-2 mx-2 fw-bolder fs-5 text-black-alternative">
                                    Logout
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - GymManagementSystem - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts",false);
    @RenderSection("ValidationScripts", false);
</body>
</html>
