@model IEnumerable<MemberViewModel>
@{
    ViewData["Title"] = "Members";
}
<div class="container">
    <main role="main" class="pb-3">

        @* Alert Messages *@
        @* Show Success Message if Member is Created Successfully *@
        @if (@TempData["SuccessMessage"] is not null)
        {
            <div id="Alert" class="alert alert-success alert-dismissible fade show">
                <i class="bi bi-check-circle-fill me-2"></i>
                @TempData["SuccessMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        }
        else if (@TempData["ErrorMessage"] is not null)
            @* Show Error Message if Member Failed To Create *@
            <div id="Alert" class="alert alert-danger alert-dismissible fade show">
                <i class="bi bi-exclamation-triangle-fill me-2"></i>
                @TempData["ErrorMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>


            <div class="container">
                <header class="d-flex justify-content-end mt-5 mb-4 align-items-center">
                    <a asp-controller="Members" asp-action="Create" class="btn btn-fill fw-medium rounded-pill px-3 py-3"> + Add Member </a>
                </header>

                @* Page Content*@
                @* Show Member List if Members Exist *@
                @if (Model.Count() > 0)
                {
                    <div class="table-responsive " style="overflow: visible;">
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th><span>Photo</span></th>
                                    <th><span>Name</span></th>
                                    <th><span>Email</span></th>
                                    <th><span>Gender</span></th>
                                    <th><span>Phone</span></th>
                                    <th><span>Action</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                @* loop through members and display their data *@
                                @foreach (var member in Model)
                                {
                                    <tr>
                                        <td>
                                            <span class="avatar">
                                                @if (!string.IsNullOrEmpty(member.Photo))
                                                {
                                                    <img src="@Url.Action("Picture", "Members", new { Id = member.Id })" alt="@member.Name" class="rounded-circle"
                                                         style="width: 40px; height: 40px;" />
                                                }
                                                else
                                                {
                                                    <img src="~/images/mes" alt="Default Avatar" class="rounded-circle"
                                                    style="width: 40px; height: 40px;" />
                                                }
                                        </span>
                                        </td>
                                        <td><span>@member.Name</span></td>
                                        <td><span>@member.Email</span></td>
                                        <td><span>@member.Gender</span></td>
                                        <td><span>@member.Phone</span></td>
                                        <td class="action position-relative">
                                            <div class="dropdown">
                                                <button class="btn btn-link p-0 border-0" type="button"
                                                        id="dropdownMenuButton-@member.Id" data-bs-toggle="dropdown"
                                                        aria-expanded="false">
                                                    <img src="~/images/action dots.jpg" alt="action icon" />
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-start"
                                                    aria-labelledby="dropdownMenuButton-@member.Id">
                                                    <li>
                                                        <a asp-controller="Members" asp-action="MemberDetails" asp-route-id="@member.Id"
                                                           class="dropdown-item d-flex align-items-center gap-3">
                                                            <img src="~/images/info 1.jpg" alt="info icon"
                                                                 style="width: 20px; height: 20px;" />
                                                            <span>View Member Data</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a asp-controller="Members" asp-action="HealthRecordDetails" asp-route-id="@member.Id"
                                                           class="dropdown-item d-flex align-items-center gap-3">
                                                            <img src="~/images/info 1.jpg" alt="info icon"
                                                                 style="width: 20px; height: 20px;" />
                                                            <span>View Health Record Data</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <hr class="dropdown-divider">
                                                    </li>
                                                    <li>
                                                        <a asp-controller="Members" asp-action="EditMember" asp-route-id="@member.Id"
                                                           class="dropdown-item d-flex align-items-center gap-3">
                                                            <img src="~/images/edit.jpg" alt="edit icon"
                                                                 style="width: 20px; height: 20px;" />
                                                            <span>Edit Member Data</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <hr class="dropdown-divider">
                                                    </li>
                                                    <li>
                                                        <a asp-controller="Members" asp-action="Delete" asp-route-id="@member.Id"
                                                           class="dropdown-item d-flex align-items-center gap-3 text-danger">
                                                            <img src="~/images/x-circle 1.jpg" alt="delete icon"
                                                                 style="width: 20px; height: 20px;" />
                                                            <span>Delete</span>
                                                        </a>
                                                    </li>
                                                </ul>

                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    @* Show Message if No Members Available *@
                    <div class="text-center py-5">
                        <i class="bi bi-person-workspace display-1 text-muted"></i>
                        <h4 class="mt-3 text-muted">No Members Available</h4>
                        <p class="text-muted">Add your first Member to get started</p>
                    </div>
                }
        </div>
    </main>
</div>
@section scripts {
    <partial name="_AlertBoxScript" />
}
